* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    color: rgba(55, 59, 65, 0.8);
    font-family: Helvetica, sans-serif;
    font-weight: lighter;
}

.countdown-Con {
    text-align: center;
}

body {
    background: #ffffff;
    overflow: hidden;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}

h1 {
    font-weight: normal;
    color: white;
}

li {
    display: inline-block;
    font-size: 2rem;
    list-style-type: none;
    padding: 1em;
    text-transform: uppercase;
    width: 150px;
    margin-top: 7px;
    color: white;
}

li span {
    display: block;
    font-size: 3rem;
}

/* Snow  */
.snow-Div {
    position: absolute;
    z-index: +1;
}

.drive-container {
    height: 200px;
}

.character-con{
    position: absolute;
    bottom: 15.5%;
    animation: suspension 1s linear infinite; 
}

.object-con1{
    position: absolute;
    bottom: 16%;
    right: -10%;
    animation: moveRight 1s linear infinite; 
}
.object-con2{
    position: absolute;
    bottom: 16%;
    right: 50%;
    animation: moveRight 1s linear infinite; 
}

.road-con {
    position: absolute;
    background-image: url(../Images/assets/Img_02.png);   
    background-repeat: repeat-x;
    height: 200px;
    width: 100%;
    bottom: 0%;   
}


/* Animation */
@keyframes moveRight {
    100% {
        transform: translateX(-800px);
    }  
}
@keyframes moveRight2 {
    100% {
        transform: translateX(-550px);
    }  
}

@keyframes suspension {
    100% {
        transform: translateY(-1px);
    }  
    50% {
        transform: translateY(2px);
    }  
    0% {
        transform: translateY(-1px);
    }       
}

@media only screen and (max-width: 480px) {
    html, body{     
        overflow-x: hidden;
    }

    body{
        position: relative;
    }

    .drive-container {
        height: 200px;     
    }
    
    .character-con{
        position: absolute;
        bottom: 11%;
        animation: suspension 1s linear infinite; 
    }

    .object-con1{
        position: absolute;
        bottom: 11%;
        right: -20%;    
        animation: moveRight2 2s linear infinite; 
    }
    .object-con2{
        display: none;
    }

    .road-con {
        position: absolute;
        background-image: url(../Images/assets/Img_02.png);   
        height: 200px;
        width: 414px;
        bottom: 0%;
        right: 0%;      
        background-repeat: repeat-x;
    }   
}